<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <link rel="icon" type="image/png" href="~/Content/images/ficon.png">
    <title>@ViewBag.Title - Portal Adversum Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="col-md-12">

        <div id="adv-navbar" class="navbar navbar-default navbar-fixed-top">

            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar-content">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/PortalNet/Index">
                        <img alt="Adversum" title="Adversum_logo" src="~/Content/images/adv_logo.png" height="50" />
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="mynavbar-content">

                    @Html.Partial("_CommonMenuPartial")

                </div>
                <hr class="hr-gradient" />
            </div>
        </div>



    </div>
   
    <div class="row">
        <div class="col-md-12 buffer white-content">

        </div>
    </div>


    @Html.Partial("_partialMessages")

        <div class="row">
            <div class="col-md-12" style="margin-left: 20px;">
                <h3>
                    <i class="fa fa-caret-square-o-down adv-i"></i>@Session["userName"]
                </h3>
            </div>
        </div>




        <div class="row">
            <div class="col-md-3" style="border-right: 1px solid #dbd3d3;">
                @Html.Raw(Session["tree"])
            </div>

            <div class="col-md-9 white-content">
                @RenderBody()
            </div>

        </div>

    @Html.Partial("_footerPartial")
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="~/Scripts/script.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
