<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <title>@ViewBag.Title - Portal Adversum Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="container-fluid">


        <div class="row">
            <div class="col-md-12">

                <nav id="adv-navbar" class="navbar navbar-default navbar-fixed-top">
                    <div class="row">

                        <div id="nav-wrapper" class="col-md-12">

                            <ul class="nav navbar-nav pull-left" style="height: 100px;">
                                <li class="adv-li-nav"><img alt="Adversum" title="Adversum_logo" src="~/Content/images/adv_logo.png" /></li>
                            </ul>

                            <ul class="nav navbar-nav pull-right" style="height: 100px;">

                                <li class="adv-li-nav adv-active"><a href="#">Home</a></li>
                                <li class="adv-li-nav"><a href="#">O nas</a></li>
                                <li class="adv-li-nav"><a href="#">Cennik</a></li>
                                <li class="adv-li-nav"><a href="#">Kontakt</a></li>
                                <li class="adv-li-nav"><a href="#">Napisz do nas</a></li>

                                @if (null == Session["loggedUser"])
                                {
                                    <li>@Html.ActionLink("Logowanie", "Index", "Home")</li>
                                }
                                else
                                {
                                    @*<li>@Html.ActionLink("Sprawy", "Index", "Portal")</li>*@
                                    <li class="pull-right">@Html.ActionLink("WYLOGUJ", "LogOut", "Login")</li>
                                }



                            </ul>

                        </div>

                    </div>
                </nav>

            </div>
        </div>

        </div>

        <div class="container-fluid">

            <div class="row">
                <div class="col-md-12" style="margin-top: 10px;">
                    <ol class="breadcrumb">


                        @if (ViewContext.RouteData.Values["controller"].ToString() != "Home")
                        {
                            @Html.ActionLink("Strona główna", "Index", "Home")
                            <li class="active">
                                / @ViewBag.Title
                            </li>
                        }
                        else
                        {
                            <li class="active">
                                Strona główna
                            </li>
                        }

                    </ol>
                </div>
            </div>



            <div class="row">
                <div class="col-md-12" style="margin-top: 20px; margin-left: 20px;">
                    <h2>
                        @Session["userName"]
                    </h2>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3" style="margin-top: 20px; border-right: 1px solid #dbd3d3;">
                    @Html.Raw(Session["tree"])
                </div>

                <div class="col-md-9" style="margin-top: 20px;">
                    @RenderBody()
                </div>

            </div>



            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - Portal Adversum Application</p>
            </footer>


        </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript" src="~/Scripts/script.js"></script>
    @RenderSection("scripts", required: false)

</body>
</html>
