@using EarlyBoundTypes
@using Portal.Library.Tree
@{
    ViewBag.Title = "Sprawy";
}


<div class="row">

    <div class="col-md-10 col-md-offset-1 text-center">

        @if (null != TempData["info"])
        {

            <div class="row">
                <div class="col-md-12">
                    <h3 style="color: blue;">
                        @TempData["info"]
                    </h3>
                </div>

            </div>

        }

    </div>

</div>



<div class="row">

    <div class="col-md-10 col-md-offset-1" style="margin-top: 20px; margin-bottom: 20px;">

        <h3>
           Sprawy @ViewBag.User
        </h3>

    </div>

</div>






<div class="row">

    <div class="col-md-10 col-md-offset-1" style="margin-top: 20px; margin-bottom: 20px;">

        <table class="table table-bordered">

            <thead>
                <tr>
                    <td>
                        
                        Klient
                    </td>
                    <td>
                        Numer sprawy
                    </td>
                    <td>
                        Stan
                    </td>
                    <td>
                        Data utworzenia
                    </td>
                </tr>
            </thead>

            <tbody>
                
                @foreach (Incident inc in ViewBag.Incidents)
                {
                    <tr>
                        <td>
                            <div class="well">
                                @Html.ActionLink(inc.CustomerId.Name, "Case", "Portal", new { caseID = inc.IncidentId.Value, client = ViewBag.User }, null)
                                
                            </div>
                        </td>
                        <td>
                            <div class="well">
                                @inc.TicketNumber
                            </div>
                        </td>
                        <td>
                            <div class="well">
                                @{ 
                                    string status = null;
                                    if (inc.StateCode.Value == 1)
                                    {
                                        status = "Nieaktywna";
                                    }
                                    else
                                    {
                                        status = "Aktywna";
                                    }
                                }
                                @status
                            </div>
                        </td>
                        <td>
                            <div class="well">
                                @inc.CreatedOn.GetValueOrDefault().ToLocalTime().ToString("yyyy-MM-dd")
                            </div>
                        </td>
                    </tr>
                }

            </tbody>

        </table>

    </div>

</div>

<div class="row">
    <div class="col-md-12">

        @if(null != ViewBag.Excerpt)
        {
            foreach (Node item in ViewBag.Excerpt)
            {
                @item.Name
            }
        }

    </div>
</div>

