@using EarlyBoundTypes
@using Portal.ViewModels
@model Portal.ViewModels.NetSettlementViewModel

@{
    Layout = "~/Views/Shared/_LayoutCase.cshtml";
}


@{
    ViewBag.Title = "NetSettlement";
}

<div class="row">
    <div class="col-md-12">

        <h2>Rozliczenia sieci @ViewBag.Client</h2>

    </div>

</div>


<h2>Wybierz datę:</h2>

@using (Html.BeginForm())
{

    Html.Hidden("client", (string)ViewBag.Client);
    Html.Hidden("caseID", (string)ViewBag.CaseID);

    <div class="row">
        <div class="col-md-2">
            @Html.DropDownList("month", (IEnumerable<SelectListItem>)ViewBag.Months, new { @class = "form-control" })
        </div>

        <div class="col-md-2 col-md-offset-1">
            @Html.DropDownList("year", (IEnumerable<SelectListItem>)ViewBag.Years, new { @class = "form-control" })
        </div>

    </div>

    <br />

    <div class="row">
        <div class="col-md-2">
            <input type="submit" class="btn btn-default" value="Szukaj" name="search" />
        </div>

    </div>


}

<h2>
    Prowizje
</h2>

<div class="row">

    <div class="col-md-12">

        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>
                        Tytułem
                    </td>
                    <td>
                        Kwota
                    </td>
                    <td>
                        Sprawa
                    </td>
                    <td>
                        Data
                    </td>
                </tr>
            </thead>

            <tbody>

                @foreach (NetSettlementObject p in Model.NetSettlementList)
                    {
                    <tr>
                        <td>
                            @p.Source
                        </td>
                        <td>
                            @p.Account
                        </td>
                        <td>
                            @p.Name
                        </td>
                        <td>
                            @p.DateOf
                        </td>
                    </tr>

                    }



            </tbody>

        </table>



    </div>

</div>



