@model Portal.ViewModels.SummonsViewModel
@using EarlyBoundTypes
@using Portal.ViewModels
@{
    ViewBag.Title = "Summons";
    Layout = "~/Views/Shared/_LayoutCase.cshtml";
}

<h2>Pozwy, @Model.Client</h2>

<div class="row">

    <div class="col-md-10 col-md-offset-1">

        <table class="table table-bordered">

            <thead>
                <tr>
                    <td>
                        Nazwa
                    </td>
                    <td>
                        Kwota
                    </td>
                    <td>
                        Wysłanie pozwu
                    </td>
                    <td>
                        Zakończenie pozwu
                    </td>
                </tr>
            </thead>

            <tbody>

                @foreach (SummonObject item in Model.list)
                {
                    <tr>
                        <td>
                            @item.Name
                        </td>
                        <td>
                            @item.Account.ToString()
                        </td>
                        <td>
                            @item.SendDate
                        </td>
                        <td>
                            @item.EndDate
                        </td>
                    </tr>
                }
                
            </tbody>

        </table>

       

    </div>

</div>

